<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <title>Admin - Login</title>


</head>

<body class="bg-dark">

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Admin Giriş</div>
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <div class="form-label-group">
                        {{ form.hidden_tag() }}
                        {{ form.mail.label }}
                        {{ form.mail(class="form-control", required="required", autofocus="autofocus",placeholder="@gmail.com") }}

                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        {{ form.sifre.label }}
                        {{ form.sifre(class="form-control",placeholder="***",required="required") }}


                    </div>

                </div>
                {{ form.gonder(class="btn btn-primary btn-block  ") }}
                {% if hata!="" %}

                    <div class="text-center bg-danger">
                        <h3 class="h6 text-white">{{ hata }}</h3>
                    </div>
                {% endif %}
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="{{ url_for('kullanici.kullanicigirisi') }}">Üye Giriş</a>
                <a class="d-block small" href="{{ url_for('kullanici.kullaniciekle') }}">Üye Kayıt</a>
            </div>
        </div>
    </div>
</div>

</body>

</html>
