<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <title>Mesaj - Düzenle</title>


</head>

<body class="bg-dark">

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Mesaj Düzenle</div>
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <div class="form-label-group">
                        {{ form.hidden_tag() }}
                        {{ form.ad.label }}
                        {{ form.ad(class="form-control", required="required", autofocus="autofocus") }}

                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">

                        {{ form.soyad.label }}
                        {{ form.soyad(class="form-control", required="required", autofocus="autofocus") }}

                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">

                        {{ form.mail.label }}
                        {{ form.mail(class="form-control", required="required", autofocus="autofocus") }}

                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">

                        {{ form.mesaj.label }}
                        {{ form.mesaj(class="form-control", required="required", autofocus="autofocus") }}

                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">

                        {{ form.mesaj2.label }}
                        {{ form.mesaj2(class="form-control", required="required", autofocus="autofocus") }}

                    </div>
                </div>

                {{ form.gonder(class="btn btn-primary btn-block  ") }}

            </form>

        </div>
    </div>
</div>

</body>

</html>
