{% extends  'Kargotakipindex.html'%}

{% block title %}
KargoTakipkargoverme
{% endblock %}

{% block body %}

<div class="container">
</div>

<div class="container">

  <ul class="list-group list-group-flush">
    <li class="list-group-item">Urununüze bir odeme yapildigi anda, size
ödemenin yapıldığı ve ürününüzü kargoya vermeniz
gerektiğini anlatan bir uyarı mesajı gelecektir.
 Bu andan itibaren ilan detay bilgilerinde belirlediğiniz
 kargo süresi içinde ürününüz kargoya vermeniz ve kargo bilgilerini sisteme girmeniz gerekmektedir.
</li>
    <li class="list-group-item">Belirlenen süre içinde ürünü kargoya vermezseniz,
alıcının işlemi iptal etme ve ürün için ödediği parayı geri alma hakkı bulunmaktadır.</li>
    <li class="list-group-item">Ürünü kargoya verdikten ve kargo bilgilerini sisteme
 işledikten sonra yine ilan detaylarında belirlediğiniz
 süre içerisinde alıcının ürüne onay vermesi beklenir.</li>
    <li class="list-group-item">Eğer belirlenen kargo süresi içinde ürün alıcının
eline ulaşmazsa alıcı onay süresini uzatma talebinde bulunabilir.</li>
    <li class="list-group-item">Göndermiş olduğunuz ürün alıcının beklentilerini
karşılarsa alıcı ürününüze onay verebilir. Bu andan itibaren
GeT havuz hesabında tutulan ürün ücreti, belirli hizmet bedeli
komisyonları kesildikten sonra aktarılacaktır. Alıcı onay vermeyi
 unutsa dahi, kargo süresinin sonunda ürün ücreti otomatik olarak hesabınıza aktarılacaktır.</li>
    <li class="list-group-item">Garanti Bankası, Yapı Kredi Bankası, İş Bankası ve Akbank
 hesaplarını sisteme tanımlatmış olan kullanıcılarımızın ödemeleri,
 aynı gün mesai saatleri içerisinde hesaplarına yatırılır.</li>
    <li class="list-group-item">Göndermiş olduğunuz ürün alıcının beklentilerini karşılamıyorsa,
 GeT kuralları dahlinde alıcı ürünü kargo masrafları da satıcıya ait
 olacak şekilde iade etme hakkına sahiptir.</li>
    <li class="list-group-item">İade aldığınız ürün eksik, bozuk ya da kırık olarak size iade
 edildiyse, kargo görevlisine tutanak tutturup zararınızı karşılamak
 için hukuki yollara başvurma hakkınız bulunmaktadır.</li>

  </ul>
</div>

{% endblock %}