{% extends  'Kargotakipindex.html'%}

{% block title %}
KargoTakiphedifimiz
{% endblock %}

{% block body %}
<div class="container" >
<p> Uluslararasi nakliyeci olarak sundugumuz hizmetlerin iyilestirilmesive dolayisiyla mallarinizin sorunsuz ve etkin sekilde nakliyesi birinci oceligimizdir.</p>

<p> Dikkatlice ve kontrollu bicimde sabit ortaklar secerek ve dogru rotaplanlamasi yaparak sabit ve piyasaya uygun nakliye ucretleri sunabiliyoruz.Bu da size uzun vadeli ve guvenilir bir ortak kazandirmis oluyor. Bagimsiz kalabilmek
ve size en iyi cozumu sunabilmek icin yalnizca elde ettigimiz ekonomik kazanca dayaniyoruz.Bu bagimsizlik, islerinizi en hassas bicimde ele aldigimiz ve gizlilik ilkesi icinde yuruttugumuzun garantisidir.Bizler nakliye uzmanlariyiz.</p>

<P>Tum AB icinde Orta Dogu ve Turkiye icinde
Balkanlar icinde 20 yillik 10.000 den fazla yuklemeyle sayisiz musterimiz bunu onaylamis oluyor.</P>
</div>
{% endblock %}