{% extends  'Kargotakipindex.html'%}

{% block title %}
KargoTakipsozlesme
{% endblock %}

{% block body %}
<div class="container">
  <ul class="list-group">
    <li class="list-group-item">Fiyatlarımıza %18 KDV dahil değildir.</li>
    <li class="list-group-item">Eşya sigortası müşterinin isteğine bağlıdır.</li>
    <li class="list-group-item">Sigorta işlemleri müşterinin isteğine bağlı olarak yaptırılır doğabilecek her türlü mali ve maddi sorumluluk müşteri ile sigorta şirketine aittir Taşıyıcı firma ya sorumluluk yüklenemez.</li>
    <li class="list-group-item">Sigorta yapıldıktan sonra iş iptal edilemez. Gün ertelemesi için 24 saat önceden firmamıza bildirilmesi lazımdır. Aksi takdirde müşteriden alınan kaparo iade edilmez.</li>
    <li class="list-group-item">Firmamız taşıma esnasında para ve ziynet eşyasından sorumlu değildir.</li>
    <li class="list-group-item">Firmamız evde bulunan para kasası veya piyanodan ek ücret talep eder. Bunlar nakliye  ücretine dahil değildir.
</li>
    <li class="list-group-item">Firmamız taşıma esnasında yüksek katlarda asansör verilmediği zaman asansör farkı için ek  ücret talep etme hakkına sahiptir.
</li>
    <li class="list-group-item">Fiyatlarımız sadece bir sefer için geçerlidir. İkinci bir seferde birinci sefer için alınan  ücretin %50’lik bir kısmı ikinci sefer için talep edilir.</li>
    <li class="list-group-item">Taşıma ücreti %50 si Peşin kalan bakiye eşyanın gideceği adrese yanaşıldığı zaman  peşin olarak tahsil edildikten sonra eşyalar araçtan indirilir eve teslim edilir.</li>
    <li class="list-group-item">Müşteri ………………………ve …………………Firması yukarıdaki şartlarda anlaşarak ve okuyarak 10 maddelik bu sözleşmeyi karşılıklı imzalanmıştır. İtilaf durumunda T.C İstanbul mahkemeleri yetkilidr.</li>

  </ul>
</div>

{% endblock %}