{% extends  'Kargotakipindex.html' %}

{% block title %}
    KargoTakipiletisim
{% endblock %}

{% block body %}
<div class="container" >
    <form id="contact-form" method="post" role="form">

        <div class="messages"></div>

        <div class="controls">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.hidden_tag() }}
                        {{ form.ad.label }}
                        {{ form.ad(class="form-control") }}
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">

                        {{ form.soyad.label }}
                        {{ form.soyad(class="form-control") }}
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.mail.label }}
                        {{ form.mail(class="form-control") }}
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form.mesaj.label }}
                            {{ form.mesaj(class="form-control") }}
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                       {{ form.gonder(class="btn btn-primary  ") }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-muted">
                            <strong></strong></p>
                    </div>
                </div>
            </div>

    </form>
</div>
{% endblock %}