{% extends  'Kargotakipindex.html'%}

{% block title %}
KargoTakipFiyatAlma
{% endblock %}

{% block body %}

<div class="fiyatlar">
  <p>2019 yılındaki güncel fiyat listesi üzerinden bazı fiyat örnekleri aşağıda yer almaktadır:</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Agırlık</th>
        <th>Ölcüler</th>
        <th>Gönderim Yeri</th>
        <th>Fiyat</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>500 gr.</td>
        <td>30cm x 30cm x 30cm</td>
        <td>yurtici gönderim</td>
         <td>12 tl</td>
      </tr>
      <tr>
        <td>1000 gr.</td>
        <td>20cm x 20cm x 20cm</td>
        <td>yurtici gönderim </td>
         <td>12 tl</td>
      </tr>
      <tr>
        <td>1000 gr.</td>
        <td>30cm x 30cm x 30cm   </td>
        <td>yurtici gönderim </td>
         <td>20 tl</td>
      </tr>
      <tr>
        <td>1000 gr.</td>
        <td>30cm x 40cm x 50cm   </td>
        <td>yurtici gönderim </td>
         <td>25 tl</td>
      </tr>
      <tr>
        <td>15kg.</td>
        <td>30cm x 40cm x 50cm   </td>
        <td>yurtici gönderim </td>
         <td>35 tl</td>
      </tr>
      <tr>
        <td>15kg.</td>
        <td>50cm x 50cm x 50cm   </td>
        <td>yurtici gönderim </td>
         <td>40 tl</td>
      </tr>
    </tbody>
  </table>
</div>


{% endblock %}