{% extends  'Kargotakipindex.html'%}

{% block title %}
KargoTakipkayıt
{% endblock %}


{% block body %}
    <div class="container" >
    <h2>Üye Ol</h2>

  <form  method="post">
  {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.hidden_tag() }}
         {{ form.mail.label }}
        {{ form.mail(class="form-control") }}

    </div>
    <div class="form-group">
        {{ form.sifre.label }}
        {{ form.sifre(class="form-control") }}

    </div>
      <div class="form-group">
        {{ form.sifretekrar.label }}
        {{ form.sifretekrar(class="form-control") }}

    </div>
      <div class="form-group">
        {{ form.adres.label }}
        {{ form.adres(class="form-control") }}

    </div>
       <div class="form-group">
        {{ form.telefon.label }}
        {{ form.telefon(class="form-control") }}

    </div>

<div>
        {{ form.gonder(class="btn btn-primary")  }}

</div>


  </form>
    </div>
{% endblock %}
