<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: #D3D3D3
        }
    </style>
    <style type="text/css">
        .footer {
            background: #222222;
            width: 100%;
            float: left;
            color: white;
            font-family: arial;
        }

        .footer #kutu b {
            font-size: 14px;
        }

        * {
            margin: 0px;
            padding: 0px;
        }

        .footer_container {
            width: 768px;
            height: 175px;
            margin: 30px auto;
        }

        ul {
            list-style-type: none;
            margin: 17px 0;
            padding: 0px;
        }

        #kutu {
            width: auto;
            height: 125px;
            float: left;
        }

        ul li {
            float: left;
            font-family: tahoma;
            font-size: 12px;
            margin-bottom: 8px;
            clear: left;
            color: #949798;
        }

        #kutu:last-child li {
            float: left;
            clear: none;
            margin-right: 10px;
        }
    </style>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Full-width input fields */
        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        /* Set a style for all buttons */
        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        button:hover {
            opacity: 0.8;
        }

        /* Extra styles for the cancel button */
        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        /* Center the image and position the close button */
        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
            position: relative;
        }

        img.avatar {
            width: 40%;
            border-radius: 50%;
        }

        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0, 0, 0); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
            padding-top: 60px;
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button (x) */
        .close {
            position: absolute;
            right: 25px;
            top: 0;
            color: #000;
            font-size: 35px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: red;
            cursor: pointer;
        }

        /* Add Zoom Animation */
        .animate {
            -webkit-animation: animatezoom 0.6s;
            animation: animatezoom 0.6s
        }

        @-webkit-keyframes animatezoom {
            from {
                -webkit-transform: scale(0)
            }
            to {
                -webkit-transform: scale(1)
            }
        }

        @keyframes animatezoom {
            from {
                transform: scale(0)
            }
            to {
                transform: scale(1)
            }
        }

        /* Change styles for span and cancel button on extra small screens */
        @media screen and (max-width: 300px) {
            span.psw {
                display: block;
                float: none;
            }

            .cancelbtn {
                width: 100%;
            }
        }
    </style>
</head>
<body>
<table border="1" bordercolor="black" width="1575" height="775">

    <tr height="20%">
        <td colspan="3">
            <p></p><br>
            <p></p><br>
            <a href="{{ url_for('anasayfa.Kargotakip') }}"> <img src="{{ url_for('static', filename="img/logo.png") }}"
                                                                 width="500 px"></a>

    </tr>
 <!-- include -->

    <div class="pos-f-t">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('anasayfa.Kargotakip') }}">Anasayfa</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbardrop"
                       data-toggle="dropdown">
                        Giriş
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ url_for('kullanici.kullanicigirisi') }}">Üye Giriş</a>
                        <a class="dropdown-item" href="{{ url_for('admin.Admin') }}">Admin</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('kullanici.kullaniciekle') }}">Üye Ol</a>
                </li>

            </ul>
        </nav>
    </div>

    <tr>

        <td width="20%" valign="top" class="bg-dark p-0">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <!-- Brand -->


                <!-- Links -->
                <ul class="navbar-nav-active">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('anasayfa.hedef') }}" style="color: #D3D3D3"><h5>
                            Hedefimiz</h5></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('anasayfa.sozlesme') }}" style="color: #D3D3D3"><h5>Tasima
                            Sozlesmesi</h5></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('anasayfa.kargo') }}" style="color: #D3D3D3"><h5>Kargo
                            Verme</h5></a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('anasayfa.iletisim') }}" style="color: #D3D3D3"><h5>
                            Iletisim</h5></a>
                    </li>

                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color: #D3D3D3" href="#" id="navbardrop"
                           data-toggle="dropdown">
                            <h5>Fiyat Alma</h5>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ url_for('anasayfa.fiyat') }}"><h6>Yurtiçi</h6></a>
                            <a class="dropdown-item" href="{{ url_for('anasayfa.fiyat') }}"><h6>Yurtdışı</h6></a>
                        </div>
                    </li>
                </ul>
            </nav>

            <br>

            <div class="container-fluid">

            </div>
        </td>


        <td width="55%">
            {% block body %}

            {% endblock %}


        </td>
        <td width="25%" height="500px" class="bg-dark p-1" valign="top">
            <div style="height: 650px; overflow-x: hidden; overflow-y: scroll;">
                {% for mesaj in veri %}
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ mesaj.ad }} {{ mesaj.soyad }} </h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ mesaj.mail }}</h6>
                            <p class="card-text">{{ mesaj.mesaj }}</p>
                            <p class="card-text">{{ mesaj.yoneticimesaj }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </td>

    </tr>


    </tr>

    <tr height="3%">
        <td colspan="3">
            <div class="footer">
                <!--Footer_container-->
                <div class="footer_container">
                    <!--kutu-->
                    <div id="kutu">
                        <b>Sayfalar</b>
                        <ul>
                            <li><a href="{{ url_for('anasayfa.Kargotakip') }}">Ana Sayfa</a></li>
                            <li><a href="{{ url_for('anasayfa.hedef') }}">Hakkımızda</a></li>
                            <li><a href="{{ url_for('kullanici.kullanicigirisi') }}">Giriş Yap</a></li>
                            <li><a href="{{ url_for('kullanici.kullaniciekle') }}">Üye Ol</a></li>
                            <li><a href="{{ url_for('anasayfa.iletisim') }}">İletişim</a></li>

                        </ul>
                    </div>
                    <!--kutu###-->
                    <!--kutu-->
                    <div id="kutu" style="margin-left:150px;">
                        <b>İletişim</b>
                        <ul>
                            <li>Fatih Akkoyun</li>
                            <li>(0555) 555 61 61</li>
                            <li>fakkoyunn<span class="userTag"><span class="userTag">@gmail.com</span></span>
                        </ul>
                    </div>
                    <!--kutu###-->
                    <!--kutu-->
                    <div id="kutu" style="margin-left:150px;">
                        <b>Sosyal Medya</b>
                        <ul>
                            <li><img src="{{ url_for('static', filename="img/F.png") }}" width="50 px"></li>
                            <li><img src="{{ url_for('static', filename="img/Y.png") }}" width="50 px"></li>
                            <li><img src="{{ url_for('static', filename="img/twitter.png") }}" width="50 px"></li>
                            <li><img src="{{ url_for('static', filename="img/İ.png") }}" width="50 px"></li>
                        </ul>
                    </div>
                    <!--kutu###-->
                </div>
                <!--Footer_container###-->
            </div>
            <!--Footer###-->
        </td>

    </tr>
</table>

</body>
{% block bodysonu %}

{% endblock %}

</html>