{% extends  'Kargotakipindex.html' %}
{% block title %}
    Anasayfa
{% endblock %}
{% block body %}
   <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename="img/i4.png") }}" alt="resim1" width="865" height="650">

            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename="img/i5.jpg") }}" alt="resim2" width="865" height="650">

            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename="img/i6.jpg") }}" alt="resim3" width="865" height="650">

            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

{% endblock %}