{% extends  'Kargotakipindex.html'%}

{% block title %}
KargoTakipGiris
{% endblock %}

{% block body %}

<div class="container">
  <form class="user" method="post">
    <div class="form-group">
        {{ form.hidden_tag() }}
         {{ form.mail.label }}
        {{ form.mail(class="form-control") }}

    </div>
    <div class="form-group">
        {{ form.sifre.label }}
        {{ form.sifre(class="form-control") }}

    </div>

      {{ form.gonder(class="btn btn-primary") }}

  </form>
</div>
{% endblock %}