<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


    <script language="JavaScript">
        $(document).ready(function () {


            $("a.silme-butonu").on("click", function () {
                //silmeye tıklandığında çalışılacak kodlar
                var tıklananbuton = $(this);
                // alert(tıklananbuton.data("id"));

                $("#silmeMesaj").html("' " + tıklananbuton.data("mesaj") + " '" + " Mesajını silmek istermisiniz ?");
                $("#btnsil").off("click");
                $("#btnsil").on("click", function () {
                    $("#silmeOnayi").modal('hide');
                    $.post("{{ url_for('anasayfa.mesajSil')}}",
                        {
                            id: tıklananbuton.data("id"),
                            csrf_token: '{{ csrf_token() }}'

                        },
                        function (sonuc, htmlkodu) {

                            if (sonuc["sonuc"] === "TAMAM") {
                                location.reload();
                            } else {
                                alert("hata")
                            }
                        });
                });

                $("#silmeOnayi").modal();

            });
        });

    </script>


</head>

<body>
 <div class="pos-f-t">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('anasayfa.Kargotakip') }}">Anasayfa</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{{ url_for('admin.Admin') }}">
                        Çıkış
                    </a>

                </li>
            </ul>
        </nav>
    </div>
 <p></p><br>
  <p></p><br>
  <p></p><br>
  <p></p><br>

<div class="container" style="height: 500px; overflow-x: hidden; overflow-y: scroll;" valign="top">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Email</th>
            <th>Mesaj</th>
            <th>cevap</th>
            <th>işlemler</th>
        </tr>
        </thead>
        <tbody>
        {% for mesaj in veri %}
            <tr>
                <td>{{ mesaj.ad }}</td>
                <td>{{ mesaj.soyad }}</td>
                <td>{{ mesaj.mail }}</td>
                <td>{{ mesaj.mesaj }}</td>
                <td>{{ mesaj.yoneticimesaj}}</td>
                <td>
                    <a href="{{ url_for('anasayfa.duzenle' , id=mesaj.id) }}" class="btn btn-primary">Cevap Ver</a>
                    <a href="#" class="btn btn-danger silme-butonu"
                       data-id="{{ mesaj.id }} "
                       data-mesaj="{{ mesaj.mesaj }} ">Sil</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="silmeOnayi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mesaj Silme Onayı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body" id="silmeMesaj">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-danger" id="btnsil">Sil</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>


